{% extends "main.html.twig" %}

{% block header %}
    <div class="overlay">
                <a href="http://localhost/educom-verrukkulluk/educom-verrukkulluk/index.php?recept_ID=&action=homepage">
                    <img src="assets/img/logo-v2.png" width=500px/>
                </a>
    </div>
    <img class="d-block w-100" alt="Carousel Bootstrap First" src="https://www.layoutit.com/img/sports-q-c-1600-500-1.jpg" />
{% endblock %}

{% block content %}
                
    {% set record = data[0] %}

    <div class="row ">
        <div class="col-sm-5 gy-5 border">
            <img src="assets/img/logo-v2.png" class="img-fluid">
        </div>

        <div class="col-sm-7 gy-5 border">
            <div class="row p-3">
                <div class="col-sm-12">
                    <i class="fas fa-user icon"></i> <font size="5">4 </font>
                    <i class="fas fa-euro-sign icon"></i> <font size="5">{{ record.totaal_prijs|round(0, 'ceil') }},- </font>
                    <i class="fas fa-fire icon"></i> <font size="5">{{ record.totaal_calorien|round(0, 'ceil') }}</font>
                </div>   
            </div>
            <div class="row p-3">
                <div class="col-sm-6">
                    <h1 style="color: var(--darker-green);"> {{ record.naam }}  </h1>
                </div>
                <div class="col-sm-6 text-right">

                    {# {% for i in 0..4 %}
                        {% if record.waardering > i %}
                            <i class="fas fa-star rating"></i> 
                        {% else %}
                            <i class="far fa-star rating"></i> 
                        {% endif %}
                    {% endfor %} #}

                    <i class="far fa-star rating" data-value="1" ></i>
                    <i class="far fa-star rating" data-value="2" ></i>
                    <i class="far fa-star rating" data-value="3" ></i>
                    <i class="far fa-star rating" data-value="4" ></i>
                    <i class="far fa-star rating" data-value="5" ></i>
                </div>
            </div>

            <div class="row p-3">
                <div class="col-sm-6">
                    <h3 style="color: var(--darker-green);"> Keuken </h3> <font size="3"> {{ record.keuken }}</font>
                </div>
                <div class="col-sm-6 text-right">
                    <h3 style="color: var(--darker-green);"> Type </h3> <font size="3"> {{ record.type }}</font>
                </div>
            </div>

            <div class="row p-3" style="height: 500px;">
                <div class="col-sm-12">
                    {{ record.lange_omschrijving }}
                </div>
            </div>
                            
            <div class="row p-3">
                <div class="col-sm-6">
                    <button class="button">Op lijst! </button>
                </div>
                <div class="col-sm-6 text-right">
                {% if record.favoriet %}
                    <i class="fas far fa-heart favorite"></i>
                {% else %}  
                    <i class="far fa-heart favorite"></i>
                {% endif %}

                </div>
            </div>
        </div>
    </div>





    <div class="row">
		<div class="col-md-12 gy-5">
			  
            <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#ingrediënten">
                        <h3 style="color: var(--darker-green);"> Ingrediënten </h3>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#bereidingswijze">
                        <h3 style="color: var(--darker-green);"> Bereidingswijze </h3>
                    </a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#opmerkingen">
                        <h3 style="color: var(--darker-green);"> Opmerkingen </h3>
                    </a></li>
                </ul>		

                <div class="tab-content">

                    <div id="ingrediënten" class="tab-pane active">
                        <div class="row">
                            {% for ingredient in record['ingredienten'] %}
                                <div class="col-sm-3 align-items-center">
                                    <img src="assets/img/verrukkulluk-burger.png" class="center" width= "100px">
                                </div>
                                <div class="col-sm-9">
                                    <h2 style="color: var(--darker-green);"> {{ ingredient.naam }}  </h2>
                                    <p> {{ingredient.omschrijving}} </p>
                                    <h3 style="color: var(--darker-green);"> Hoeveelheid: </h3> <font size="3">{{ ingredient.hoeveelheid }} {{ ingredient.eenheid }}</font>
                                    <br> <br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="bereidingswijze" class="container tab-pane fade"><br>
                        <div class="row">
                            {% for stap in record['bereiding'] %}
                                <div class="col-sm-3 align-items-center">
                                    <div class="stap"> {{stap.numeriekveld}}. </div>
                                </div>
                                <div class="col-sm-9">
                                    <p> {{stap.tekstveld}} </p>
                                    <br> <br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="opmerkingen" class="tab-pane fade">
                        <div class="row">
                            {% for opmerking in record['opmerkingen'] %}
                                <div class="col-sm-3 align-items-center">
                                    <img src="assets/img/verrukkulluk-burger.png" class="center" width= "100px">
                                </div>
                                <div class="col-sm-9">
                                    <h3 style="color: var(--darker-green);"> {{opmerking.voornaam }} {{opmerking.achternaam }}  </h3>
                                    <br>
                                    <p> {{opmerking.tekstveld}} </p>
                                    <br> <br>
                                </div>       
                            {% endfor %}
                        </div>
                    </div>
                    
                </div> 

                
		</div>
	</div>

{% endblock %}

